// $breakpoint-mobile: 375px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px; 

.news {
    width: 100%;
    display: grid;
    // flex-direction: column;
    padding: 6% 0% 0% 0% !important;


    &-header {
        background: #EEF2FF;
        display: flex;
        justify-content: center;

        &-content {
            background-image: url('../headerbg.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-self: center;
            padding: 70px 5%;

            h1, p {
                margin: 0;
                padding: 0;
            }

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 54px;
                padding: 5px 0;
                display: flex;
                align-items: center;
                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }

            p {
                font-family: Poppins;
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }

    &-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-self: center;
        // border: 2px solid #fac;
        padding: 0 5%;

        &-body {
            width: 100%;
            display: grid;
            gap: 80px;
            margin: 50px 0 20px 0;

            &-back {
                display: flex;
                align-items: center;

                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 0.03em;
                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                cursor: pointer;
                padding: 0;
                margin: 0;

                svg {
                    width: 30px;
                    height: 15px;
                }

                &:hover {

                }
            }

            &-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: center;
                justify-items: space-between;
                gap: 67px;

                &-left {
                    display: grid;
                    grid-template: row;
                    grid-template-rows: max-content 1fr;
                    gap: 22px;
                    border: 3px solid #3A3A3A;
                    border-radius: 10px;
                    padding: 20px;
                    // max-width: 557px;
                    h1 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 54px;
                        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        padding: 0;
                        margin: 0;
                    }

                    h2 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 39px;
                        letter-spacing: 0.03em;
                        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    &-body {
                        display: flex;
                        flex-direction: column;
                        gap: 42.5px;

                        img {
                            margin-left: -25px;
                            // width: 100%;
                            // height: 100%;
                        }

                        h1 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 36px;
                            line-height: 54px;
                            background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                            padding: 0;
                            margin: 0;
                        }

                        h2 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 26px;
                            line-height: 39px;
                            letter-spacing: 0.03em;
                            background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                            padding: 0;
                            margin: 0;
                        }

                        &-meta {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &-tags {
                                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                border-radius: 30px;
                                padding: 10px 30px;
                                color: #FFFFFF;

                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 20px;
                                letter-spacing: 0.03em;
                            }

                            &-others {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 20px;
                                letter-spacing: 0.03em;
                                color: #656464;
                            }
                        }

                        &-article {
                            display: flex;
                            flex-direction: column;
                            gap: 42.5px;

                            h1 {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 32px;
                                line-height: 42px;
                                color: #3A3A3A;
                            }

                            &-paragraphs {
                                display: flex;
                                flex-direction: column;
                                gap: 22px;
                                
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 20px;
                                letter-spacing: 0.03em;
                                color: #656464;
                                padding: 0;
                                margin: 0;
                            }

                            &-more {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 20px;
                                letter-spacing: 0.03em;
                                color: #EB5757;
                                cursor: pointer;
                            }
                        }
                    }
                }

                &-right {
                    display: flex;
                    flex-direction: column;
                    gap: 22px;
                    padding: 20px;
                    
                    h2 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 39px;
                        letter-spacing: 0.03em;
                        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    &-content {
                        display: flex;
                        align-items: center;
                        gap: 32px;

                        &-barner {
                            max-width: 269px;
                            width: 100%;
                        }

                        &-body {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            justify-content: start;
    
                            img {
                                margin-left: -25px;
                                // width: 100%;
                                // height: 100%;
                            }
    
                            h1 {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 54px;
                                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                padding: 0;
                                margin: 0;
                            }
    
                            h2 {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 26px;
                                line-height: 39px;
                                letter-spacing: 0.03em;
                                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                padding: 0;
                                margin: 0;
                            }
    
                            &-meta {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
    
                                &-tags {
                                    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                    border-radius: 30px;
                                    padding: 4.5px 25.5px;
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: 0.03em;
                                    color: #FFFFFF;
                                    width: max-content;
                                }
    
                                &-others {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 13px;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    color: #656464;
                                }
    
                                &-body {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 19.5px;

                                    h1 {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 24px;
                                        line-height: 36px;
                                        color: #3A3A3A;
                                    }
                                }
                            }
    
                            &-article {
                                display: flex;
                                flex-direction: column;
                                gap: 42.5px;
    
                                h1 {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 32px;
                                    line-height: 42px;
                                    color: #3A3A3A;
                                }
    
                                &-paragraphs {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 22px;
                                    
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    color: #656464;
                                    padding: 0;
                                    margin: 0;
                                }
    
                                &-more {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 13px;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    color: #EB5757;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            &-content-full {
                display: grid;
                grid-template-columns: 1fr 300px;
                align-items: start;
                justify-items: space-between;
                gap: 93px;
                margin-bottom: 72px;

                &-left {
                    display: grid;
                    grid-template: row;
                    grid-template-rows: max-content 1fr;
                    gap: 37px;
                    border-radius: 10px;
                    justify-content: start;
                    
                    img {
                        padding: 0;
                        margin: 0;
                        margin-left: -25px;
                    }

                    h1 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 42px;
                        color: #3A3A3A;
                        padding: 0;
                        margin: 0;
                    }

                    h2 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 39px;
                        letter-spacing: 0.03em;
                        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    &-paragraphs {
                        display: flex;
                        flex-direction: column;
                        gap: 22px;
                        
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        letter-spacing: 0.03em;
                        color: #656464;
                        padding: 0;
                        margin: 0;

                        &-action {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 10px;
                            gap: 10px;
                            width: 307px;
                            height: 76px;
                            background: rgb(235, 87, 87);
                            border-radius: 10px;

                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 36px;
                            color: #FFFFFF;
                            cursor: pointer;

                            transition: all 0.5s ease-in-out;

                            &:hover {
                                background: rgba(235, 87, 87, .4);
                                color: black;
                            }
                        }
                    }

                    &-body {
                        display: flex;
                        flex-direction: column;
                        gap: 42.5px;

                        h1 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 36px;
                            line-height: 54px;
                            background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                            padding: 0;
                            margin: 0;
                        }

                        h2 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 26px;
                            line-height: 39px;
                            letter-spacing: 0.03em;
                            background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                            padding: 0;
                            margin: 0;
                        }

                        &-meta {
                            display: flex;
                            // justify-content: space-between;
                            align-items: center;
                            gap: 79px;

                            &-tags {
                                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                border-radius: 30px;
                                padding: 10px 30px;
                                color: #FFFFFF;

                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 20px;
                                letter-spacing: 0.03em;
                            }

                            &-others {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 21px;
                                letter-spacing: 0.03em;
                                color: #656464;
                            }
                        }

                        &-article {
                            display: flex;
                            flex-direction: column;
                            gap: 42.5px;

                            h1 {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 32px;
                                line-height: 42px;
                                color: #3A3A3A;
                            }

                            &-paragraphs {
                                display: flex;
                                flex-direction: column;
                                gap: 22px;
                                
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 13px;
                                line-height: 20px;
                                letter-spacing: 0.03em;
                                color: #656464;
                                padding: 0;
                                margin: 0;
                            }

                            &-more {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 13px;
                                line-height: 20px;
                                letter-spacing: 0.03em;
                                color: #EB5757;
                                cursor: pointer;
                            }
                        }
                    }
                }

                &-right {
                    display: flex;
                    flex-direction: column;
                    gap: 22px;
                    padding: 20px;

                    .reverse {
                        flex-direction: column-reverse;
                    }

                    hr {
                        padding: 0;
                        margin: 0;
                    }
                    
                    h2 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 39px;
                        letter-spacing: 0.03em;
                        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }

                    &-content {
                        display: flex;
                        align-items: center;
                        gap: 32px;

                        &-barner {
                            max-width: 269px;
                            width: 100%;
                        }

                        &-body {
                            display: flex;
                            flex-direction: column;
                            gap: 9px;
                            justify-content: start;
    
                            img {
                                margin-left: -25px;
                                // width: 100%;
                                // height: 100%;
                            }
    
                            h1 {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 36px;
                                line-height: 54px;
                                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                padding: 0;
                                margin: 0;
                            }
    
                            h2 {
                                font-family: 'Poppins';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 26px;
                                line-height: 39px;
                                letter-spacing: 0.03em;
                                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                padding: 0;
                                margin: 0;
                            }
    
                            &-meta {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
    
                                &-tags {
                                    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                                    border-radius: 30px;
                                    padding: 4.5px 25.5px;
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: 0.03em;
                                    color: #FFFFFF;
                                    width: max-content;
                                }
    
                                &-others {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 12px;
                                    line-height: 18px;
                                    letter-spacing: 0.03em;
                                    color: #656464;
                                }
    
                                &-body {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 19.5px;

                                    h1 {
                                        font-family: 'Poppins';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 20px;
                                        line-height: 22px;
                                        color: #3A3A3A;
                                    }
                                }
                            }
    
                            &-article {
                                display: flex;
                                flex-direction: column;
                                gap: 42.5px;
    
                                h1 {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 32px;
                                    line-height: 42px;
                                    color: #3A3A3A;
                                }
    
                                &-paragraphs {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 22px;
                                    
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    color: #656464;
                                    padding: 0;
                                    margin: 0;
                                }
    
                                &-more {
                                    font-family: 'Poppins';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 13px;
                                    line-height: 20px;
                                    letter-spacing: 0.03em;
                                    color: #EB5757;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            &-extra {
                display: grid;
                grid-template-columns: max-content max-content;
                align-items: center;
                justify-content: space-between;
                gap: 20px;
                padding: 40px 71px;
                background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);

                p {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 54px;
                    letter-spacing: -0.03em;
                    color: #FFFFFF;
                }

                &-button {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 14px;
                    /* identical to box height, or 88% */

                    text-align: center;

                    /* logo color */

                    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                    // -webkit-background-clip: text;
                    // -webkit-text-fill-color: transparent;
                    // background-clip: text;
                    // text-fill-color: transparent;

                    height: 62px;

                    background: #FFFFFF;
                    color:  linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
                    padding: 24px 40px;
                }
            }
        }
    }
}


@media all and (min-width: 1px) and (max-width: $breakpoint-mobile)  {
    
}

@media all and (min-width: $breakpoint-mobile) and (max-width: 900px) {
    
}

@media all and (min-width: 900px) and (max-width: 1228px) {
   
}