// $breakpoint-mobile: 375px;
// $breakpoint-mobile: 300px;
// $breakpoint-mobile: 480px;
$breakpoint-mobile: 500px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
// $breakpoint-desktop: 1024px;

.footer {
    background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
    color: #6B7280;
    // padding: 50px 0;
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 47px 0 13px 0;

    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: 90%;

        &-top {
            display: flex;
            border-bottom: 2px solid rgba(255, 255, 255, 0.15);
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 32px;
            margin-bottom: 38px;

            &-brand {
                margin: 20px;
                width: 28%;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                gap: 20px;

                &-detail {
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    gap: 20px;
                }

                &-social {
                    width: 100%;
                    display: flex;
                    gap: 30px;
                    align-items: center;
                    margin-top: 20px;

                    span {
                        cursor: pointer;
                    }
                }
            }

            &-nav {
                margin: 20px;
                width: 72%;
                display: flex;
                justify-content: space-around;

                &-section {
                    width: 32%;
                    
                    &-header {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: #9CA3AF;
                        padding: 0 auto;
                        margin: 0 auto;
                        display: flex;
                        align-content: center;
                        justify-content: space-between;
                        margin-bottom: 16px  !important;
                    }

                    &-list {
                        list-style-type: none;
                        padding: 0;
                        display: grid;
                        gap: 15px;

                        &-item {
                            cursor: pointer;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 24px;
                            color: #6B7280;
                            flex: none;
                            order: 0;
                            flex-grow: 0;
                            margin: 3px 0;
                            display: flex;
                            align-items: center;
                            // justify-content: space-between;

                            &:hover {
                                color: aliceblue;
                            }

                            svg {
                                margin-right: 10px; 
                            }
                        }
                    }
                }
            }

        }
    }

    &-copywritght {
        width: 100%;
        text-align: center;
        padding: 0 5% !important;

        &-text {
            width: 100%;
            text-align: center;
        }
    }
}

@media all and (min-width: 1px) and (max-width: $breakpoint-mobile)  {
    .footer {
        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
        color: #6B7280;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        justify-items: center;
        padding: 30px 0 80px 0;
        font-size: 19px;
        line-height: 28px;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 100%;
    
            &-top {
                display: flex;
                flex-direction: column;
                border-bottom: 2px solid rgba(255, 255, 255, 0.15);
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding-bottom: 30px;
                margin-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;

                br {
                    display: none;
                }
    
                &-brand {
                    margin: 20px;
                    width: 100%;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;

                    &-detail {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 50px;
                    }
    
                    &-social {
                        width: 100%;
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        margin-top: 20px;
    
                        span {
                            cursor: pointer;
                        }
                    }
                }
    
                &-nav {
                    margin: 20px;
                    width: 100%;
                    display: flex;
                    // flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    gap: 30px;
    
                    &-section {
                        width: 100%;
                        box-sizing: border-box;

                        &-header {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;
    
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
    
                            color: #9CA3AF;
                            padding: 0 auto;
                            margin: 0 auto;
                            display: flex;
                            align-content: center;
                            justify-content: space-between;
                        }
    
                        &-list {
                            list-style-type: none;
                            padding: 0;
                            display: grid;
                            // gap: 5px;
    
                            &-item {
                                cursor: pointer;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                color: #6B7280;
                                flex: none;
                                order: 0;
                                flex-grow: 0;
                                margin: 3px 0;
                                display: flex;
                                align-items: center;
                                // justify-content: space-between;
    
                                &:hover {
                                    color: aliceblue;
                                }
    
                                svg {
                                    margin-right: 10px; 
                                }
                            }
    
                        }
                    }
                }
    
            }
        }
    }    
}

@media all and (min-width: $breakpoint-mobile) and (max-width: 680px) {
    .footer {
        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
        color: #6B7280;
        padding: 50px 0 30px 0;
        display: flex;
        justify-content: center;
        justify-items: center;
        padding: 30px 0 80px 0;
        font-size: 19px;
        line-height: 28px;
    
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 100%;
    
            &-top {
                display: flex;
                flex-direction: column;
                border-bottom: 2px solid rgba(255, 255, 255, 0.15);
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding-bottom: 30px;
                margin-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;

                br {
                    display: none;
                }
    
                &-brand {
                    margin: 20px;
                    width: 100%;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;

                    &-detail {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 50px;
                    }
    
                    &-social {
                        width: 100%;
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        margin-top: 20px;
    
                        span {
                            cursor: pointer;
                        }
                    }
                }
    
                &-nav {
                    margin: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: start;
                    row-gap: 50px;
    
                    &-section {
                        width: 48% !important;
                        box-sizing: border-box;

                        &-header {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;
    
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
    
                            color: #9CA3AF;
                            padding: 0 auto;
                            margin: 0 auto;
                            display: flex;
                            align-content: center;
                            justify-content: space-between;
                        }
    
                        &-list {
                            list-style-type: none;
                            padding: 0;
                            display: grid;
                            // gap: 5px;
                            justify-content: space-between;
    
                            &-item {
                                cursor: pointer;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                color: #6B7280;
                                flex: none;
                                order: 0;
                                flex-grow: 0;
                                margin: 3px 0;
                                display: flex;
                                align-items: center;
                                // justify-content: space-between;
    
                                &:hover {
                                    color: aliceblue;
                                }
    
                                svg {
                                    margin-right: 10px; 
                                }
                            }
    
                        }
                    }
                }
    
            }
        }
    }    
}

@media all and (min-width: 680px) and (max-width: $breakpoint-tablet) {
    .footer {
        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
        color: #6B7280;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        justify-items: center;
        padding: 30px 0 80px 0;
        font-size: 19px;
        line-height: 28px;
    
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            justify-items: center;
            width: 100%;
    
            &-top {
                display: flex;
                flex-direction: column;
                border-bottom: 2px solid rgba(255, 255, 255, 0.15);
                align-items: center;
                justify-content: space-between;
                width: 100%;
                padding-bottom: 30px;
                margin-bottom: 10px;
                padding-left: 30px;
                padding-right: 30px;

                br {
                    display: none;
                }
    
                &-brand {
                    margin: 20px;
                    width: 100%;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;

                    &-detail {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 50px;
                    }
    
                    &-social {
                        width: 100%;
                        display: flex;
                        gap: 30px;
                        align-items: center;
                        margin-top: 20px;
    
                        span {
                            cursor: pointer;
                        }
                    }
                }
    
                &-nav {
                    margin: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 10px;
    
                    &-section {
                        width: 32% !important;
                        
                        box-sizing: border-box;

                        &-header {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 20px;
    
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
    
                            color: #9CA3AF;
                            padding: 0 auto;
                            margin: 0 auto;
                            display: flex;
                            align-content: center;
                            justify-content: space-between;
                        }
    
                        &-list {
                            list-style-type: none;
                            padding: 0;
                            display: grid;
                            // gap: 5px;
    
                            &-item {
                                cursor: pointer;
                                font-family: 'Inter';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                color: #6B7280;
                                flex: none;
                                order: 0;
                                flex-grow: 0;
                                margin: 3px 0;
                                display: flex;
                                align-items: center;
                                // justify-content: space-between;
    
                                &:hover {
                                    color: aliceblue;
                                }
    
                                svg {
                                    margin-right: 10px; 
                                }
                            }
    
                        }
                    }
                }
    
            }
        }
    }    
}

@media (max-width: $breakpoint-desktop) {}

// @media (max-width: $breakpoint-desktop) {}