$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.navbar-toggle {
  display: none;
}

// .nav-reduced {
  
// }

.nav-reduced {
  max-width: 1440px !important;
  margin: 0 auto;
  z-index: 2;
}

.navSection {
  height: 7.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  border-bottom: 1px solid aliceblue;

  &-navigation {
    width: 80%;
    display: grid;
    grid-template-columns: .4fr 1fr;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    
    &-logo {
      width: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      &-brand-name {
        color: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        padding: 0 10px;
      }  
    }
    
    &-links {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 14px;
      letter-spacing: 0.01em;

      &-navy {
        width: 100%;
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-content: space-between;
      }

      &-nav {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: flex;
        justify-self: center;

        &-item {
          float: left;
          padding: 5px 1rem;
          position: relative;
          text-decoration: none;
          transition-duration: 0.5s;

          a, span {
            color:  #656464;
            display: flex;
            // align-self: center;
            cursor: pointer;
          }

          &:hover, &:focus-within {
            &::after {
              visibility: visible;
            }
          }

          &::after {
            content: '';
            border-bottom: 2px solid #EB5757;
            width: 50%;
            position: absolute;
            bottom: 2px;
            left: 0;
            padding: 0;
            margin: 0 25%;
            visibility: hidden;
            display: flex;
            justify-self: center;
          }

          &:focus-within a {
            outline: none;
          }

          &:hover &-dropdown {
            cursor: pointer;
            visibility: visible;
            display: block;
            opacity: 1;
          }

          &-dropdown {
            width: 280px;
            visibility: hidden;
            opacity: 0;
            min-width: 5rem;
            position: absolute;
            transition: all 0.5s ease;
            margin-top: .3rm;
            padding: 15px;
            left: 0;
            display: none;
            list-style-type: none;

            background: #FEFEFF;
            border-radius: 0px 0px 20px 20px;

            filter: drop-shadow(0px 4px 4px rgba(0, 1201, 2505, .25));
            box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);

            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.03em;
            color: #656464;

            &:hover,
            &:focus {
              visibility: visible;
              opacity: 1;
              display: block;
            }
            
            &-item {
              width: 100%;
              margin: 9px 0;

              &::after {
                content: '';
                border-bottom: 2px solid #EB5757;
                width: 50%;
                position: relative;
                left: 0;
                padding: 0;
                visibility: hidden;
                display: flex;
                justify-self: center;
              }

              &:hover {
                &::after {
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }

    &-misc {
      background: #EB5757; 
      border-radius: 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
      
      padding: 5px 25px;

      text-align: center;

      color: #FFFFFF;

      cursor: pointer;
      justify-self: end;
    }
  }
}

.navigation {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: 7.5em;
  font-family: 'Poppins';
  box-shadow: 0 2px 0px aliceblue;
  z-index: 1000;
  background-color: white;
  // width: 100vw;
  margin: 0 auto;
  padding: 0;
  width: 100%;

  &-content {
    // max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 5%;

    &-brand {
      display: flex;
      gap: 9px;
      align-items: center;
      cursor: pointer;
      // justify-content: flex-start;
      &-logo {

      }

      &-name {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        background: linear-gradient(192.7deg, #152A47 14.55%, #032555 91.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;

        &-other {
          display: none;
        }
      }

    }

    &-menu {
      font-size: 20px;
      color: #333;
      cursor: pointer;
      display: none;
    }

    &-navitems {
      list-style: none;
      display: flex;
      align-items:  center;
      justify-content: flex-start;
      gap: 2rem;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 14px;
      letter-spacing: 0.01em;
      color: #656464;
      transition: top .5s linear;
      // opacity: 1;
      // transform: translate(0);

      li {
        width: max-content;
        cursor: pointer;

        span {
          display: flex;
          align-items: center;
          gap: 3px;
        }
        

        &:hover, &:focus-within {
          &::after {
            visibility: visible;
          }

          // ul {
          //   display: flex;
          // }
        }

        &::after {
          display:block;
          content : "";
          position: relative;
          left    : 0;
          bottom  : 0;
          width   : 50%;
          margin:0 auto;
          margin-top: 4px;
          border-bottom: 2px solid #EB5757;
          visibility: hidden;
        }

        .overlay {
          position: fixed;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, .2);
          z-index: 1001;
          transition: top .1s linear;
          // display: none;

          &.show {
            display: flex;
          }

          &.hide {
            display: none;
          }
        }

        ul {
          list-style: none;
          position:absolute;
          background-color: white;
          z-index: 10002;
          padding: 7px 20px 50px 20px;
          margin-top: 5px;
          background: #FEFEFF;
          border-radius: 0px 0px 20px 20px;
          // box-shadow: 2px 5px 15px rgba(3, 37, 85, .5);
          // display: none;
          flex-direction: column;
          transition: all 1s ease;
  
          li {
            margin: 10px 0;
          }

          &.show {
            display: flex;
          }

          &.hide {
            display: none;
          }
        }
      }

      .navigation-misc {
        display: none;
      }
    }

  }

  &-misc,  &-misc-1 {
    background: #EB5757; 
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    
    padding: 5px 25px;

    text-align: center;

    color: #FFFFFF;

    cursor: pointer;
    transition: all .34s;

    &:hover {
      color: #EB5757;
      background-color: white;
      border: 1px solid #EB5757;;
    }

  }

}

@media all and (max-width: 980px) {
  .navigation {
    height: max-content;
    padding: 20px 0;
    height: 7.5em;

    &-content {
      &-brand {

        &-logo {
  
        }
  
        &-name {
  
          &-other {
            display: inherit;
          }
        }
  
      }

      &-menu {
        display: inherit;
      }
  
      &-navitems {
        // display: none;
        position: absolute;
        top: 4.5em;
        right: 0;
        background-color: #FEFEFF;
        flex-direction: column;
        align-items: flex-start;
        width: 253px;
        height: 100vh;
        padding: 20px 20px;
        gap: 1rem;
        translate: all .5s ease-in-out;

        &-hide {
          right: -300px;
        }
        
        li {
          justify-self: start;
  
          span {
            display: flex;
            align-items: center;
            gap: 3px;
          }
          
  
          &:hover, &:focus-within {
            &::after {
              visibility: hidden;
            }
  
            // ul {
            //   display: flex;
            // }
          }
  
          &::after {
            display:block;
            content : "";
            position: relative;
            left    : 0;
            bottom  : 0;
            width   : 50%;
            margin:0 auto;
            margin-top: 4px;
            border-bottom: 2px solid #EB5757;
            visibility: hidden;
          }

          .overlay {
  
            &.show {
              display: none;
            }
  
            &.hide {
              display: none;
            }
          }
  
          ul {
            position:relative;
            width: 100%;
            box-shadow: none;
            padding: 0 1rem;
            display: flex;
            // height: 0;
    
            li {
              margin: 20px 0;
            }
          }
        }
  
        .navigation-misc {
          display: inherit;
          margin-top: 30px;
        }
      }
    }
  
    &-misc-1 {
      display: none;
  
      &:hover {
      }
  
    }

    &-misc {
      display: inherit;
  
      &:hover {
      }
  
    }
  
  }
}